<div class = "form-group">
  <ul class = "content">
    <li>
      <div>
        <ul class = "content content-row">
          <li>
            <input type="text" [(ngModel)]="name" (keydown.enter)="onKeydown($event)" placeholder="name"/>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div>
        <ul class = "content content-row">
          <li>
            <input type="password" [(ngModel)]="password" (keydown.enter)="onKeydown($event)" placeholder="password"/>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button (click)="changeAvatar()">
        <app-avatar></app-avatar>
      </button>
    </li>
    <li>
      <div>
        <button routerLink="/chat" (click)="enter()" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" [ngStyle]="buttonStyle">Enter</button>
      </div>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
