.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  list-style: none;
  overflow-wrap: break-word;
  margin: 5px;
  padding: 0px;
  text-align: center;
}

.content-row {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 20px;
  transition-duration: 0.2s;
}

input {
  border-radius: 10px;
  padding: 5px;
}